<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GUILDRONE | Blog | {{ title }}</title>
        <link href="/css/blog.css" rel="stylesheet" media="all">
        <script src="scripts/safe-links.js"></script>
    </head>
    <body class="scroll">
        <div id="container">
            <div id="header">
                <h1 class="title">GUILDRONE</h1>
            </div>
            <div class="navbar">
                {% include 'hub-navigation.njk' %}
            </div>
            <div class="wrapper">
                <div id="left-sidebar">
                    {% include 'left-sidebar.njk' %}
                </div>
                <div class="main-content">
                    <div class="content">
                        {{ content | safe }}
                        <h2>All
                            {% for category in categories %}
                                <a href="/blog/categories/{{ category | slugify }}">{{ category }}</a>
                            {% endfor %}
                            posts</h2>

                        <h2>Tags:</h2>
                        <ul>
                            {% for tag in tags %}
                                <li>
                                    <a href="/blog/tags/{{ tag | slugify }}">{{ tag }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            {% include 'footer.njk' %}
        </div>
    </body>
</html>