<ul>
               <li><a href="/">Home</a></li>
               <li>
                  <a href="#">About (Me)</a>
               <li>
                  <a href="/blog/">Blog</a>
               <li>
                  <a href="#">Projects</a>
                  <ul class="subitems">
                     <li><a href="#">SIndulgence</a></li>
                     <li><a href="#">Sub-Sonic Symphonies</a></li>
                     <li><a href="#">Misc.</a></li>
                  </ul>
            </ul>