<div class="section-title">Links</div>
<div class="content">
    <ul>
        <li><a href="https://neocities.org/site/guildrone" target="_blank">Neocities Profile</a></li>
        <li><a href="https://www.reddit.com/user/Exploreptile/" target="_blank">Reddit</a></li>
        <li><a href="https://archiveofourown.org/users/GuildScale" target="_blank">Archive of Our Own</a></li>
    </ul>
</div>
<div class="section-title" style="border-top:1px solid var(--ltest-color)">Buttons (or something, I dunno yet)</div>
<div class="content">
sample text
</div>